---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qBJMcAQzd593OTQk9cMevKtln", oauth_nonce="6e4306ba7ea1e48d5f6b3d652fd2e7f6",
        oauth_signature="uB2q1HhrhAVL%2FkDuFrhFaA90ZNk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441933657", oauth_token="380478790-p7OtDesG3Oay2lhtwJh5h2BRxHEfX5MfCZNnolcG",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 01:07:37 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 5ff614ef15fcd718e66f34299ca5aa57
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '10'
      X-Rate-Limit-Reset:
      - '1441934403'
      X-Response-Time:
      - '32'
      X-Transaction:
      - 60fd49db973d2f57
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":380478790,"id_str":"380478790","name":"Sebastian Abondano","screen_name":"sabondano1","location":"","description":"I
        code all the things. Co-Creator of @mywebrc","url":"http:\/\/t.co\/ds4U8qbPSA","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/ds4U8qbPSA","expanded_url":"http:\/\/sebastianabondano.tumblr.com\/","display_url":"sebastianabondano.tumblr.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":61,"friends_count":274,"listed_count":0,"created_at":"Mon
        Sep 26 18:28:03 +0000 2011","favourites_count":36,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":178,"lang":"en","status":{"created_at":"Fri
        Sep 11 00:47:52 +0000 2015","id":642137448823164928,"id_str":"642137448823164928","text":"Testing,
        1, 2.","source":"\u003ca href=\"http:\/\/127.0.0.1:3000\/\" rel=\"nofollow\"\u003eSebastian''s
        Twitter Feed\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/519994762581925888\/QHOq7CeP_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/519994762581925888\/QHOq7CeP_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/380478790\/1412811927","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Fri, 11 Sep 2015 01:07:37 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qBJMcAQzd593OTQk9cMevKtln", oauth_nonce="b2cbed538caed2faf59bb85af7918f8a",
        oauth_signature="eSIugxGO3BSZnpibsNRYVJ7QGjM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441933658", oauth_token="380478790-p7OtDesG3Oay2lhtwJh5h2BRxHEfX5MfCZNnolcG",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 01:07:39 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 6952bb05b9e72906f41146c7b44841d4
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1441934404'
      X-Response-Time:
      - '49'
      X-Transaction:
      - bb4345d76eb0ebc3
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Sep 11 01:06:47 +0000 2015","id":642142207139520512,"id_str":"642142207139520512","text":"New
        Ad: Blue Cross: I will survive http:\/\/t.co\/M2yvP7rYd8 #advertising http:\/\/t.co\/E1rx31yO6O","source":"\u003ca
        href=\"http:\/\/ifttt.com\" rel=\"nofollow\"\u003eIFTTT\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":29186233,"id_str":"29186233","name":"Ads
        of the World\u2122","screen_name":"adsoftheworld","location":"Planet Earth","description":"#Advertising
        Archive & Community","url":"http:\/\/t.co\/iy0akoCiQI","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/iy0akoCiQI","expanded_url":"http:\/\/AdsoftheWorld.com","display_url":"AdsoftheWorld.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":168420,"friends_count":43450,"listed_count":6215,"creat[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/favorites/create.json
    body:
      encoding: UTF-8
      string: id=642142207139520512
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qBJMcAQzd593OTQk9cMevKtln", oauth_nonce="38295729b382927cc712db7714b23398",
        oauth_signature="xeW6ROCKSONhuupJbwHFvM%2FcsE0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441933659", oauth_token="380478790-p7OtDesG3Oay2lhtwJh5h2BRxHEfX5MfCZNnolcG",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 01:07:39 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 91c0a943d463e5d29f16497d03f2a1d8
      X-Response-Time:
      - '79'
      X-Transaction:
      - e1154eecc04470e3
      X-Tsa-Request-Body-Time:
      - '6'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Fri Sep 11 01:06:47 +0000 2015","id":642142207139520512,"id_str":"642142207139520512","text":"New
        Ad: Blue Cross: I will survive http:\/\/t.co\/M2yvP7rYd8 #advertising http:\/\/t.co\/E1rx31yO6O","source":"\u003ca
        href=\"http:\/\/ifttt.com\" rel=\"nofollow\"\u003eIFTTT\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_sta[...]
[...]
