{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/account/verify_credentials.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json; charset=utf-8"], "X-Connection-Hash":["4aa1744b0f2e7ebb4752218a7c1a4ce9"], "X-Response-Time":["13"]},"body":{"encoding":"ASCII-8BIT","string":"{\"errors\":[{\"code\":215,\"message\":\"Bad Authentication data.\"}]}"},"http_version":null},"recorded_at":"Thu, 10 Sep 2015 19:17:37 GMT"}],"recorded_with":"VCR 2.9.3"}