---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: in_reply_to_status_id=642382895835926528&status=%40oldpicsarchive+Testing%2C+1%2C+2.
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qBJMcAQzd593OTQk9cMevKtln", oauth_nonce="cabc249f7afc9d9a816cec7211587171",
        oauth_signature="yz5SZx7iUqVLCnwwzdjDye72wtc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441992048", oauth_token="380478790-p7OtDesG3Oay2lhtwJh5h2BRxHEfX5MfCZNnolcG",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 17:20:48 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 9d8f385625fa6389a717aff06abf5741
      X-Response-Time:
      - '156'
      X-Transaction:
      - bd4ae5a9ce67be22
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Fri Sep 11 17:20:48 +0000 2015","id":642387327256408064,"id_str":"642387327256408064","text":"@oldpicsarchive
        Testing, 1, 2.","source":"\u003ca href=\"http:\/\/127.0.0.1:3000\/\" rel=\"nofollow\"\u003eSebastian''s
        Twitter Feed\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":642382895835926528,"in_reply_to_status_id_str":"642382895835926528","in_reply_to_user_id":2441831348,"in_reply_to_user_id_str":"2441831348","in_reply_to_screen_name":"oldpicsarchive","user":{"id":380478790,"id_str":"380478790","name":"Sebastian
        Abondano","screen_name":"sabondano1","location":"","description":"I code all
        the things. Co-Creator of @mywebrc","url":"http:\/\/t.co\/ds4U8qbPSA","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/ds4U8qbPSA","expanded_url":"http:\/\/sebastianabondano.tumblr.com\/","display_url":"sebastianabondano.tumblr.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":61,"friends_count":274,"listed_count":0,"created_at":"Mon
        Sep 26 18:28:03 +0000 2011","favourites_count":37,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":180,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/519994762581925888\/QHOq7CeP_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/519994762581925888\/QHOq7CeP_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/380478790\/1412811927","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"oldpicsarchive","name":"Old
        Pics Archive","id":2441831348,"id_str":"2441831348","indices":[0,15]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Fri, 11 Sep 2015 17:20:48 GMT
recorded_with: VCR 2.9.3
