---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qBJMcAQzd593OTQk9cMevKtln", oauth_nonce="52fe5c37d675a029305afab865a2aa9b",
        oauth_signature="cZu2dp9qdfJmlv%2BZFtNTgBONqRc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441990562", oauth_token="380478790-p7OtDesG3Oay2lhtwJh5h2BRxHEfX5MfCZNnolcG",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 16:56:02 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - e6e084d8b8ed970676ab01e0c42d57fe
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1441991462'
      X-Response-Time:
      - '71'
      X-Transaction:
      - 86fb868d8fdfce02
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Sep 11 16:55:32 +0000 2015","id":642380969559916544,"id_str":"642380969559916544","text":"At
        WeWork, an Idealistic Startup Clashes with Its Cleaners http:\/\/t.co\/kqpbWmY9Ex
        (cmts http:\/\/t.co\/MNbVTqlIM1)","source":"\u003ca href=\"http:\/\/ifttt.com\"
        rel=\"nofollow\"\u003eIFTTT\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":15042473,"id_str":"15042473","name":"Hacker
        News YC","screen_name":"newsycbot","location":"Internet","description":"Latest
        from Hacker News Y Combinator at http:\/\/t.co\/fNtqi9qeGL. This bot is maintained
        by @danielchownet. Enjoy! :)","url":"http:\/\/t.co\/AkenmZGE7g","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/AkenmZGE7g","expanded_url":"http:\/\/news.ycombinator.com\/","display_url":"news.ycombinator.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/fNtqi9qeGL","expanded_url":"http:\/\/news.ycombinator.com","display_url":"news.ycombinator.com","indices":[40,62]}]}},"protected":false,"followers_count":18318,"friends_count":1,"listed_count":1338,"created_at":"Sat
        Jun 07 23:21:59 +0000 2008","favourites_count":0,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":165853,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/526110783822774272\/_WLdrxCb_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/526110783822774272\/_WLdrxCb_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/kqpbWmY9Ex","expanded_url":"http:\/\/nyti.ms\/1XTDEOw","display_url":"nyti.ms\/1XTDEOw","indices":[59,81]},{"url":"http:\/\/t.co\/MNbVTqlIM1","expanded_url":"http:\/\/bit.ly\/1OH6YSr","display_url":"bit.ly\/1OH6YSr","indices":[88,110]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Fri
        Sep 11 16:55:31 +0000 2015","id":642380965608845312,"id_str":"642380965608845312","text":"How
        Stanford Took on the Giants of Economics http:\/\/t.co\/rpcHolD0n3 (cmts http:\/\/t.co\/4IlZXjZpbC)","source":"\u003ca
        href=\"http:\/\/ifttt.com\" rel=\"nofollow\"\u003eIFTTT\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_sc[...]
