---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qBJMcAQzd593OTQk9cMevKtln", oauth_nonce="acdd12c24a20fdc6c8a10b11f050aaa6",
        oauth_signature="DPscW62kNgnfVD%2Fw91dSNd288co%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441956186", oauth_token="380478790-p7OtDesG3Oay2lhtwJh5h2BRxHEfX5MfCZNnolcG",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 07:23:06 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - e73c91a7d5403632cd9148949dfac634
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1441957085'
      X-Response-Time:
      - '71'
      X-Transaction:
      - 3df755ff881cae9c
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":380478790,"id_str":"380478790","name":"Sebastian Abondano","screen_name":"sabondano1","location":"","description":"I
        code all the things. Co-Creator of @mywebrc","url":"http:\/\/t.co\/ds4U8qbPSA","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/ds4U8qbPSA","expanded_url":"http:\/\/sebastianabondano.tumblr.com\/","display_url":"sebastianabondano.tumblr.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":61,"friends_count":274,"listed_count":0,"created_at":"Mon
        Sep 26 18:28:03 +0000 2011","favourites_count":36,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":177,"lang":"en","status":{"created_at":"Sun
        Sep 06 17:42:18 +0000 2015","id":640580800409243648,"id_str":"640580800409243648","text":"Functional
        Object-Oriented Design:\n https:\/\/t.co\/bRfjG5h04W","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/bRfjG5h04W","expanded_url":"https:\/\/medium.com\/@bradurani\/improving-your-web-app-with-functional-object-oriented-design-5218f9732b74","display_url":"medium.com\/@bradurani\/imp\u2026","indices":[36,59]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/519994762581925888\/QHOq7CeP_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/519994762581925888\/QHOq7CeP_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/380478790\/1412811927","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Fri, 11 Sep 2015 07:23:06 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qBJMcAQzd593OTQk9cMevKtln", oauth_nonce="f751c995cd80b6ac13fe24e9d8e82eb7",
        oauth_signature="z7daIJywwabBgCmv2B%2F869OFC%2Bc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441956187", oauth_token="380478790-p7OtDesG3Oay2lhtwJh5h2BRxHEfX5MfCZNnolcG",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 07:23:07 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 39b11ac84cbf9c51fb21c6069b6d3cea
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1441957087'
      X-Response-Time:
      - '48'
      X-Transaction:
      - e178b97c5aed0588
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Sep 11 07:22:07 +0000 2015","id":642236665839374336,"id_str":"642236665839374336","text":"The
        one thing the Star Wars prequel trilogy did very, very right http:\/\/t.co\/br4G9iVkqO
        http:\/\/t.co\/7BUpmfEV0d","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":275686563,"id_str":"275686563","name":"The
        Verge","screen_name":"verge","location":"New York","description":"http:\/\/t.co\/W2SFxIXkC4
        covers the future of technology, science, art, and culture. \n\nSnapchat:
        therealverge","url":"http:\/\/t.co\/gHB8gE7qZS","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/gHB8gE7qZS","expanded_url":"http:\/\/www.instagram.com\/verge","display_url":"instagram.com\/verge","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.c[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: in_reply_to_status_id=642236665839374336&status=Testing%2C+1%2C+2.
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qBJMcAQzd593OTQk9cMevKtln", oauth_nonce="befa09c340d63067f301dffe445e9d42",
        oauth_signature="JFSEA6vLTsupQOCdK06JP790CZI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441956188", oauth_token="380478790-p7OtDesG3Oay2lhtwJh5h2BRxHEfX5MfCZNnolcG",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 07:23:07 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - c9931f477cd74af3b602d33bc949a105
      X-Response-Time:
      - '88'
      X-Transaction:
      - 05ad41e5e3658dcc
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Fri Sep 11 07:23:07 +0000 2015","id":642236916012748800,"id_str":"642236916012748800","text":"Testing,
        1, 2.","source":"\u003ca href=\"http:\/\/127.0.0.1:3000\/\" rel=\"nofollow\"\u003eSebastian''s
        Twitter Feed\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_u[...]
[...]
