---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/favorites/create.json
    body:
      encoding: UTF-8
      string: id=642382895835926528
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qBJMcAQzd593OTQk9cMevKtln", oauth_nonce="2c1ae7bfee216428e8466f934a4214bc",
        oauth_signature="xcNaRXcbdyW%2Bb%2FGTRrIo0GR%2BDS8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441991255", oauth_token="380478790-p7OtDesG3Oay2lhtwJh5h2BRxHEfX5MfCZNnolcG",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 17:07:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 0d68cc034668dc7a6072c40842a6e128
      X-Response-Time:
      - '164'
      X-Transaction:
      - 6b7a74393817d431
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Fri Sep 11 17:03:11 +0000 2015","id":642382895835926528,"id_str":"642382895835926528","text":"The
        crew of Apollo 9 heading out to the launchpad. http:\/\/t.co\/kyVe1A6lww","source":"\u003ca
        href=\"http:\/\/bufferapp.com\" rel=\"nofollow\"\u003eBuffer\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2441831348,"id_str":"2441831348","name":"Old
        Pics Archive","screen_name":"oldpicsarchive","location":"London, UK","description":"The
        most interesting historical photos. Follow, discuss, share!\ncontact: historypicsarchive@gmail.com","url":"http:\/\/t.co\/7nepGDERnG","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/7nepGDERnG","expanded_url":"http:\/\/www.oldpicsarchive.com","display_url":"oldpicsarchive.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":344611,"friends_count":0,"listed_count":4072,"created_at":"Sun
        Apr 13 15:04:56 +0000 2014","favourites_count":0,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":40846,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"022330","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/455361576178966528\/VZm0eh-e_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/455361576178966528\/VZm0eh-e_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2441831348\/1397403504","profile_link_color":"0084B4","profile_sidebar_border_color":"A8C7F7","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":11,"favorite_count":19,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":642382895705927684,"id_str":"642382895705927684","indices":[51,73],"media_url":"http:\/\/pbs.twimg.com\/media\/COoz1xRWsAQRUCN.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/COoz1xRWsAQRUCN.jpg","url":"http:\/\/t.co\/kyVe1A6lww","display_url":"pic.twitter.com\/kyVe1A6lww","expanded_url":"http:\/\/twitter.com\/oldpicsarchive\/status\/642382895835926528\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":430,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":568,"h":720,"resize":"fit"},"medium":{"w":568,"h":720,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":642382895705927684,"id_str":"642382895705927684","indices":[51,73],"media_url":"http:\/\/pbs.twimg.com\/media\/COoz1xRWsAQRUCN.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/COoz1xRWsAQRUCN.jpg","url":"http:\/\/t.co\/kyVe1A6lww","display_url":"pic.twitter.com\/kyVe1A6lww","expanded_url":"http:\/\/twitter.com\/oldpicsarchive\/status\/642382895835926528\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":430,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":568,"h":720,"resize":"fit"},"medium":{"w":568,"h":720,"resize":"fit"}}}]},"favorited":true,"retweeted":false,"possibly_sensitive":false,"lang":"en"}'
  recorded_at: Fri, 11 Sep 2015 17:07:36 GMT
recorded_with: VCR 2.9.3
