<div class="container-fluid container-welcome">
  <div class="col-md-8 col-md-offset-2">
    <%= image_tag "TwitterLogo_white.png", size: "50" %>
    <h1 class="welcome">See what’s happening right now.</h1>
    <h3 class="welcome">Find community, conversation and inspiration about the things you love.</h2>
    <%= link_to "Log In", login_path, class: "btn btn-lg btn-default btn-welcome" %>
  </div>
</div>
