#body-welcome {
  background: url(image_path("twitter_background.png")) center center fixed;
  .container-welcome {
    padding-top: 30vh;
    text-align: center;
    .welcome {
      color: white;
      font-weight: 100;
    }
    h3.welcome {
      font-weight: 200;
      opacity: 0.5;
    }
    a.btn.btn-lg.btn-default.btn-welcome {
      width: 150px;
      color: white;
      margin-top: 5vh;
      background-color: transparent;
      border: 1px solid rgba(255,255,255,0.3);
    }

    a.btn.btn-lg.btn-default.btn-welcome:hover {
      background: #fff;
      color: #55acee;
    }
  }
}

body {
  background-color: #f5f8fa;
}

.navbar-dashboard {
  background-color: #fff;
  .logo {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    margin-top: 14px;
  }
}

.container-dashboard {
  margin-top: 10vh;
}

.dashboard-profile-card {
  border: 1px solid #e1e8ed;
  background: #FFF;
  border-radius: 6px; 
  .screen-name {
    margin-top: -10px;
  }
  .avatar {
    float: left;
    background-color: #fff;
    border-radius: 6px;
    margin: 10px 10px 0 8px;
    padding: 1px;
    vertical-align: bottom;
  }
  .user-fields {
    margin-top: 0px;
  }
  .stats {
    margin-top: 10px;
    margin-bottom: 5px;
    .first-stat-group {
      padding-left: 10px;
    }
    .stat-label {
      color: #8c9ca9; 
      font-size: 10px;
    }
    .stat-value {
      display: block;
      font-size: 18px;
      font-weight: 500;
      color: #0084B4;
    }
  }
}

.tweet {
  border: 1px solid #e1e8ed;
  background: #FFF;
  border-radius: 6px; 
  padding: 12px;
  .thumbnail-avatar {
    float: left;
    border-radius: 6px;
    vertical-align: top;
    margin-right: 10px;
  }
  .container-tweet-details {

  }
  .screen-name {
    color: #8c9ca9;
    font-size: 13px;
  }
}

.tweet-form {
  background-color: #E5F2F7;
  padding-bottom: 40px;
  .tweet-text-area {
    margin-bottom: 6px;
  }
  .btn-tweet {
    background-color: #0084B4;
    color: white;
    float: right;
  }
}
